.link {
    float: right !important;
    text-align: right;
    cursor: pointer
}

.header {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

.settings-dropdown {
    width: 235px !important;
}

.settings {
    visibility: visible
}

.history {
    visibility: visible
}

.calculator {
    visibility: visible
}

.login {
    visibility: visible
}

.remind {
    visibility: hidden /*visible */
}

.register {
    visibility: hidden /*visible */
}